version: "3.6"
services:
  splunk:
    image: splunk/splunk:latest
    ports:
      - 8000:8000
      - 8088:8088
      - 8089:8089
    environment:
      - SPLUNK_START_ARGS=--accept-license
      - SPLUNK_PASSWORD=${SPLUNK_PASSWORD}
      - SPLUNK_HEC_TOKEN=${SPLUNK_HEC_TOKEN}
      - SPLUNK_HEC_SSL=False
      - DEBUG=true
  logstash:
    image: "logstash:${ELASTIC_TAG}"
    depends_on:
      - splunk
    ports:
      - 5044:5044
    volumes:
      - ./pipeline/:/usr/share/logstash/pipeline/:ro
      - ./settings/logstash.yml:/usr/share/logstash/config/logstash.yml:ro
    environment:
      - "SPLUNK_HEC_TOKEN=${SPLUNK_HEC_TOKEN}"
  filebeat:
    image: "docker.elastic.co/beats/filebeat:${ELASTIC_TAG}"
    user: root
    depends_on:
      - logstash
    volumes:
      - ./app.log:/var/log/app.log:ro
      - ./settings/filebeat.yml:/usr/share/filebeat/filebeat.yml
  metricbeat:
    image: "docker.elastic.co/beats/metricbeat:${ELASTIC_TAG}"
    depends_on:
      - logstash
    volumes:
      - ./settings/metricbeat.yml:/usr/share/metricbeat/metricbeat.yml:ro
